.zoom {
    transition: transform .2s;
  }

  .zoom:hover {
    transform: scale(1.5);
 }

  .thumbnail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .thumbnail {
    width: 50px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .main-image {
    max-width: 100%;
  }

  .main-image-container {
    text-align: center;
  }
